{% extends 'partials/base.html.twig' %}

{% block content %}
	<div id="error">
		<div>
			<h1>Ooops!  <span>:(</span></h1>
      <h2>Error  {{ page.header.http_response_code }}</h2>
			<p>
				{{ page.content }}
			</p>
		</div>
	</div>
{% endblock %}
