{% extends 'partials/base.html.twig' %}

{% block content %}

{% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <div id="slider">
        <figure>
            {% for image in page.media.images %}
                {{ image.html }}
            {% endfor %}
        </figure>
    </div>

    {{ page.content }}
{% endblock %}
